@font-face {
    font-family: 'Kaisg';
    src: url('../fonts/KAISG___.TTF');
}

@font-face {
    font-family: 'OldLondon';
    src: url('../fonts/OldLondon.ttf');
}

@font-face {
    font-family: 'OldLondon-Alternate';
    src: url('../fonts/OldLondonAlternate.ttf');
}

